    /* Color Palette
#fcc708 - yellow
#404040 - black
#ffffff - white
*/
    
    body {
        width: 100%;
        margin: 0px;
        display: flex;
        flex-grow: initial;
        /*font-family: 'Lato', sans-serif;*/
    }
    
    .main-container {
        display: flex;
        max-width: 1200px;
    }
    
    h3 {
        margin-bottom: 5px;
    }
    
    p {
        margin-top: 5px;
    }
    
    .container {
        /*display: flex;
    flex-direction: column;*/
        display: block;
    }
    /* Left Side 
------------------------------------*/
    
    #left-column {
        background: #feca07;
        width: 100%;
        /*height: 100%;*/
        display: flex;
        flex-direction: column;
        align-items: center
    }
    
    #profile-pic {
        margin: 20px 0px;
        width: 250px;
        height: 250px;
        border-radius: 100%;
        border: 1px solid white;
    }
    
    .side-title {
        background: #404040;
        display: flex;
        justify-content: center;
        color: #feca07;
        width: 100%;
        padding: 10px 0px;
    }
    
    .side-container {
        width: 100%;
    }
    
    .contact-text {
        padding: 30px;
    }
    
    .side-icons {
        display: flex;
        justify-content: space-between;
    }
    
    .dot {
        height: 55px;
        width: 55px;
        border-radius: 100%;
        border: 1px solid red;
        display: inline-block;
    }
    /* Right Side
------------------------------------*/
    
    .main-column {
        background: white;
        display: flex;
        width: auto;
        flex-direction: column;
        align-content: right;
        justify-content: flex-end;
        padding: 60px;
        /* flex: 2 0 0; */
    }
    
    h2 i {
        color: #fcc708;
        margin-right: 10px;
    }
    
    .education-row {
        display: flex;
        margin-top: 50px;
    }
    
    .education-col-dot {
        width: 20px;
        color: #fcc708;
        padding-top: 10px;
    }
    
    .education-col-description {
        flex: 1 0 0;
        padding-left: 50px;
    }
    
    .education-col-description p {
        line-height: 24px;
        padding-left: 50px;
    }
    
    .dg-icone {
        padding: 0px 15px;
    }
    
    *.education-col-description h3 {
        margin-bottom: 10px;
    }
    /* Intro
------------------------------------*/
    
    .text-yellow {
        color: #fcc708;
    }
    
    .border-yellow {
        border-top: 1px solid #fcc708;
        width: 100px;
    }
    
    .with-yellow-border {
        color: #fcc708;
        border-bottom: 1px solid #fcc708;
        margin-top: 40px;
        margin-bottom: 20px;
        padding-bottom: 15px;
    }
    
    .spacing-wide {
        width: 100%;
        height: 50px;
    }
    
    h1,
    h2,
    h3,
    h4 {
        margin: 0px;
    }
    
    h1 .title-1 {
        text-transform: uppercase;
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
    }
    
    h2 {
        text-transform: uppercase;
    }
    /* Education
------------------------------------*/
    
    .paragraph-1 {
        display: flex;
        align-items: start;
    }
    /* Experience & References
------------------------------------*/
    
    .reference-wrapper {
        display: flex;
        flex-wrap: wrap;
        width: 100%;
    }
    
    .reference-section-wrapper {
        flex: 1 0 0;
    }
    /* Footer
------------------------------------*/
    
    .footer {
        display: flex;
        flex-direction: bottom;
    }
    
    @media only screen and (max-width: 700px) {
        .dg-container {
            flex-direction: column;
        }
        .education-row {
            flex-direction: column;
        }
        .education-col-description {
            padding-top: 20px;
            padding-left: 0px;
        }
        .education-col-dot {
            display: none;
        }
        .education-col-dates {
            padding-left: 0px;
        }
    }
    
    @media only screen and (min-width: 701px, max-width: 950px) {
        .dg-container {
            flex-direction: column;
        }
        .education-row {
            flex-direction: column;
        }
        .education-col-description {
            padding-top: 20px;
            padding-left: 0px;
        }
        .education-col-dot {
            display: none;
        }
        .education-col-dates {
            padding-left: 0px;
        }
    }
    
    @media only screen and (min-width: 951px, max-width: 1200px) {
        .dg-container {
            flex-direction: column;
        }
        .education-row {
            flex-direction: column;
        }
        .education-col-description {
            padding-top: 20px;
            padding-left: 0px;
        }
        .education-col-dot {
            display: none;
        }
        .education-col-dates {
            padding-left: 0px;
        }
    }