/* Color Palette
#fcc708 - yellow
#404040 - black
#ffffff - white
*/

body {
    width: 100%;
    margin: 0px;
    display: flex;
    flex-grow: initial;
    /*font-family: 'Lato', sans-serif;*/
}

h3 {
    margin-bottom: 5px;
}

p {
    margin-top: 5px;
}


/* Left Side 
------------------------------------*/

#left-column {
    background: #feca07;
    width: 350px;
    /*height: 100%;*/
    display: flex;
    flex-direction: column;
    align-items: center
}

#profile-pic {
    margin: 20px 0px;
}

.side-title {
    background: #404040;
    display: flex;
    justify-content: center;
    color: #feca07;
    width: 100%;
    padding: 10px 0px;
}

.side-container {
    width: 90%;
    padding: 0px 20px;
}

.side-icons {
    display: flex;
    justify-content: space-between;
    magin
}


/* Right Side
------------------------------------*/

.main-column {
    background: white;
    display: flex;
    width: 1100px;
    flex-direction: column;
    align-content: right;
    justify-content: flex-end;
    padding
    /* flex: 2 0 0; */
}


/* Intro
------------------------------------*/

.text-yellow {
    color: #fcc708;
}

.border-yellow {
    boder-top: 1px solid #fcc708;
}

h1,
h2,
h3,
h4 {
    margin: 0px;
}

h1 .title-1 {
    /*background: green;*/
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}


/* Education
------------------------------------*/

.container-21 {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}


/* Experience
------------------------------------*/

.container-22 {
    display: flex;
    flex-direction: column;
}


/* References
------------------------------------*/

.container-23 {
    display: flex;
    flex-direction: column;
}


/* Footer
------------------------------------*/

.footer {
    display: flex;
    flex-direction: bottom;
}